{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "endOfLine": "lf"
}
